{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список занятий</title>
    <link rel="stylesheet" href="{% static 'style_2.css' %}">
</head>
<body>

    <h1>Расписание</h1>
    <ul>
        {% for lesson in object_list %}
            <li>
                <a href="{% url 'university:lesson-detail' lesson.pk %}">
                    <img src="{% static 'python.png' %}" alt="My image" width="20 px">
                    {{ lesson.id }}</a>
                - {{ lesson.get_time_display }}
                - {{ lesson.room }}
                - {{ lesson.group }}
            </li>
        {% empty %}
            <li>Занятий пока нет.</li>
        {% endfor %}
    </ul>
</body>
</html>